#f1{
    background-color:rgb(54, 53, 53);
    color:floralwhite
}
#ff2{
    margin-left: 90px;
}
.social-media {
    width: 100%;
    text-align: center;
    /* margin-top: 20px; */
  }
  .social-media ul {
    list-style: none;
  }
  .social-media ul li {
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
  }