/* #s3{
    color:blanchedalmond
}
#row1{
    background-color:rgb(54, 53, 53)
}
#box{
    background-color: blanchedalmond;
}
#card1{
    border: 1px solid rgb(54, 53, 53);
    border-radius: 6px;
}
#card1:hover{
    border: 3px solid rgb(54, 53, 53);
    box-shadow: 1px 2px 3px 0;
}
.card-body{
    background-color:gainsboro;
    text-align: center;
}
.card-title{
    background-color:rgb(54, 53, 53);
    color: blanchedalmond;
    text-align: center;
    border-radius: 3px solid;
}
.s1{
    float :right;
}
#row4{
    background-color:rgb(54, 53, 53);
    color:blanchedalmond;
}
#b1{
    margin-right: 2px ;
    background-color:rgb(54, 53, 53);
    color: blanchedalmond;
}
.b3{
    background-color: red;
}
#b4{
    margin-right: 1px ;
    background-color:rgb(54, 53, 53);
    color: blanchedalmond;
}
#m1,#m4{
    margin-left: 70px;
}
#m5{
    margin-left: 75px;
}
#m6{
    margin-left: 78px;
}
#new{
   text-align: center;
    color:rgb(54, 53, 53);
    margin-top: 20px;
}
/*#card1{
    transform:translate(-50%,-50%);
    box-shadow: 0 10px 20 px black
}
.overlays{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in;
    background: black;
    cursor: pointer;
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
#card1:hover.overlays{
    opacity: 0.8s;
}*/ 